<html>
<body>

    <th>Witaj <%=user_name%></th> <br/>
    // TODO: Wyloguj
    <br/>
    <form method="get" action="/cart">
        <input type="submit" value="Koszyk" />
    </form>

    <% include products %>
</body>
</html>	