<th>----- Produkty -----</th> <br/> <br/>

<% products.forEach(function(product) { %>
    <li><%= product.name %> - Cena: <%= product.price %>zł</li>
    <td><%='Opis:'%></td><br/>
    <%= product.description %> <br/> <br/>
<% }); %>

