<html>
<body>

    <th>Witaj 'User Name'</th> <br/>
    // TODO: Wyloguj
    <br/>

    <th>Produkty</th> <br/>

    <% for (let i = 1; i <= 10; i++) 
        { %>
            <tr>
                <td><%='Produkt ' + i%></td>
                <td><%='| Cena: ' + i * 100 + 'zl'%></td>
                <td><%='| Opis: ' + 'opis produktu ' + i%></td>
                <br/>
            </tr>
        <% } %>
</body>
</html>	